body {
	margin:0;
}
.sumar {
	/*sumar stílar hér*/
	display: none;
}
.vor h1 {
	font-size: 5em;
	color: #ffa;
}
.haust {
	display: none;
}
.vor {
	background: linear-gradient(to top left,  orange, white); /* Standard syntax (must be last) */
	position: fixed;
	width: 100%;
	height: 100%;
  	margin: 0;
  	padding: 0;
  
	display: flex; 
	justify-content: center;
	align-items: center;
	align-content: center;
}
.vetur {
	display: none;
}

